<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Welcome To Praise Community Church in Eads, Colorado!</h2>
                <p class="lead">Praise Community Church is a Christian congregation serving the local community and seeking, engaging, and encouraging others through a life-changing Christian journey. Praise Community Church seeks to be a loving, friendly community that worships God, and serves others. We place a high priority on teaching from the Bible and following the example of Jesus. Our vision is to impact and renew Eads and beyond with the transforming message of Jesus Christ through words and actions. Everyone is welcome. Come as you are - we'd love to get to know you!</p>


                <!--<a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>. -->
            </div>
        </div>
    </div>
</section>
