<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               <strong><h2>Ephesians 2:19-22</h2></strong>
				<h3>So then you are no longer strangers and aliens, but you are fellow citizens with the saints, and are of God's household, having been built on the foundation of the apostles and prophets, Christ Jesus Himself being the corner stone, in whom the whole building, being fitted together, is growing into a holy temple in the Lord, in whom you also are being built together into a dwelling of God in the Spirit.</h3>
                <a href="http://www.bible.com" class="btn btn-lg btn-light">Read Bible Online</a>
                <a href="https://www.faithcomesbyhearing.com" class="btn btn-lg btn-dark">Listen To Audio Bible Online</a>
            </div>
        </div>
    </div>
</aside>
