<aside class="callout">
    <div class="text-vertical-center">
        <h1>Come Worship with us!!!</h1>
        	<strong><h2>Sunday</h2></strong>
        	<hr class="small">
        	<h2>Adult Bible Study <strong>9:15 am</strong>
        	<h2>Fellowship and Coffee <strong>10:30 am</strong>
        	<h2>Worship and Service <strong>10:45 am</strong>
			
			<strong><h2>Wednesdays</h2></strong>
        	<hr class="small">
        	<h2>Morning Prayer <strong>7-9:00 am</strong>
        	<h2>Bible Study <strong>7:00 pm</strong>
    </div>
</aside>
