<header id="top" class="header">
    <div class="text-vertical-center white">
        <h1>Praise Community Church</h1>
        <h3><em>God shows his love for us in that while we were still sinners, Christ died for us.</em><br>Romans 5:8</h3>
        <br>
        <!-- <a href="#about" class="btn btn-dark btn-lg"></a> -->
    </div>
</header>
