<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>Church History</h1>
                <hr class="large">
                <div class="row">
                    <div class="col-md-8">
                        
                    <strong><p>History Of Praise Community Church (Assembly of God)</p></strong>

<p>The Eads Assembly of God was begun in the summer of 1936 with tent revival services by Rev. T. T. Ward.  At the close of the services a two room house was secured from the late William Davis and converted in to a chapel
The church was set in order with it’s duty elected officers and became a member of the General council of the Assemblies of God in march 17, 1938.</p>

<p>Charter Members were: Mr and Mrs. C. B. Huddleson and son Francis, Elmer Hollister, Mrs. J. E. Lane, Alverta Patton, Doris Patton, Mr. and Mrs. Clifford Whatley - daughter Lova and son Roy, Arthur Towse, Ted Fogelson, Erma Chronister , Fred and Ethyl Fogelson, A.A. Nieman, george Mueller family, and CLara Hieronymus, twenty menbers in all.  Pastor; T.T. Ward; Secetary; Mary Whaley; Treasurer; Ruth Neiman, Trustiees; Elmer Hollister, F. E. Fogleson, A. B. Huddleston.</p>

<p>On 3/25/37 the lot 4, 5, 6 block 15 where the former Asemmbly of God building stood, was purchased for $1.00 each from Schleining, Mr. Davis, and Lew and Frieda Hollis resectively.  A 24x40 basement was built and dedicated in the summer of 1937.  An additional amount was paid to A. A. Nieman on 8/1/38 for the same lot 5 block 15.</p>

<p>1938 Rev. Ward resigned.  Rev. Wagner and then Rev. Distler followed him for a short time.  Rev. Stapleton accepted the pastorate in the fall of 1939.  The Chivington congregation joined with the Eads congregation.  The Chivington congregants were: John Brown-Wesley and Van, Herman anf Floyd Mays, Sally Mays, Mr and Mrs. Trenton Abrams, Mr. and Mrs. Ed Hammer, Everett Newsom Family.  Others attending the church at this time were Mrs. Clarence Etter of First View, Mrs. Lichtenhahn of Kit Carson, the Whitmarshes of CHeyenne Wells, Mr. and Mrs. Jess Green, and the Pete Schleining family.</p>

<p>During Re. Stapleton’s ministry the church added another 12 feet to the basement and constructed the building.  Materials were hard to get during WWII, but God supplied and the community helped to put it together.  The building was completed in the fall of 1946 with an indebtedness of only $90.00.</p>

<p>In the spring of 1947 Rev. Stapleton resigned.  The church had many pastors between 1947 and 1974 without much recorded history.  The pastors were: E. H. Cain, Rev. Thompson, C. E. Benetendi, E. C. Phillips, Edwin Lack, Alexander, John Adams, Kline, Davis, Johnny Stout, Myers, McBee.</p>

<p>In 1974 the church purcheased an adjacent lot and a trailer and wrote their Articles of Incorparation.</p>

<p>Pastors Robert G. Drake, Ed Soules, and Phillip Wright served the church from 1974 to 1981.</p>

<p>In 1980 the church recieved General Council status and on Feb. 25, 1985 it became a district church because for the three previous years the membership remained low below 20.</p>

<p>In 1987 the Hillyer family were pastors.  Just a note that Charlotte Beeson was a member of the church then.  Harvey and Cathy Shade joined the churh in 1990.</p>

<p>Apparently, their was a problem with pastor Abbott as he was voted out on 2-17-90 and was replaced with Curtis Pryer, on 7-22-90.  Their were 9 active members at this time.</p>

<p>Larry Kettle and family pastored from 9-94 to 10-00.
According to records, quit claim deed were obtained for L1-12 bk 10 in 1996.  And in 1997 donated the house and L 2 Bk 9( the present parsonage at 702 Rittgers S.).  The Constitution and By Laws were rattified on 2-25-96 and became a General Council church.</p>

<p>When Gary and Julie Foshee were voted in on 11-21-00 there were 30 members and the annual income was over $102,000.00.  On 4-22-01 the congregation purchased L 8-11 Bk 2 and L 8-15 Bk 3 from Duane and Brenda Stoker for $5000.00.  In9-02 the church began a search for the new pastor as Gary Foshee pursued his calling as a military chaplain.  The board consisting of Pam Addington, Harvey Shade, Larry Wyatt, Geleslie King and Debra Immer with Jimmy Brown as CHairman became the new pulpit commitee.  The membership roster read as follows: Charlotte Beeson, Dana Brown, Amanda Brown, Pearl Hainer, Maxine and Rich Hocket, Mary Ann Hulteen, Walt Immer, Tony and Kelli Jensen, Sandra Jones, Shannon King, Dean and Rosanne Loukonen, Donna Owens and Max Christian, Lil Penn, Doug Rouse, Barb Seay, Kathy SHade, Len Verhoff, Cheryl Wyatt, Ryan Wyatt.</p>

<p>On February 4, 2003, the church voted in Lee Brown as their new pastor, However he declined and he felt the Lord saying no.</p>

<p>On March 25, 2003 Donald Lott was voted in as apastor and he accepted.  In Jan of 2005, the Lotts resigned and the church was once more without a pastor.  Attendance and income had dropped so seeking a new pastor became more challenging.</p>

<p>Geoffrey Gannon and his family served as pastor for one year.</p>

<p>Pastor Richard Zabriskie had served as interim pastor between Lott and Gannon.  He was asked to fill in unitl another pastor was found.  In a few months he and his wife, Pat were asked to pastor, which invitation they accepted and became pastors in Sept. 2006.</p>

<p>Tony Jensen became pastor in 2012.  With his wife Kelly Jensen, and children Rustin and Duff, they served the church for several years until 2017, then they were called to relocate to Burlington Colorado.</p>

<p>

                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/kids.JPG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/tower.JPG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/front.JPG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <!--<a href="#" class="btn btn-dark">View More Items</a> -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
