<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Our Vision</h1>
                <hr class="small">
                <h3>To take the love that God has given us and use it to love people into a relationship with Him. To be a people helping people find God’s love and follow Jesus Christ.</h3>
                <h1>Our Mission: </h1>
                <hr class="small">
                <h3>Our Purpose as a church is to fulfill Jesus Christ’s Great Commission of reaching the lost by making disciples of all peoples and teaching them the truth of God’s word. </h3>

                <h1>We will accomplish this by: </h1>
                <hr class="medium">

                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">1</strong>
                            </span>
                           
                            <p>Having a passion to reach lost and hurting people by showing them real love from a real God, with our words and our actions.</p>
                            
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">

                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">2</strong>
                            </span>
                                                      <p>Being a beacon of light in our community by creating and maintaining an atmosphere of unconditional love and being an “open door” church that actively reaches out and welcomes all persons of our community regardless of their background or spiritual condition. </p>
                            
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">3</strong>
                            </span>
                            
                            <p>Having an exciting and heartfelt atmosphere of praise and worship that invites and encourages people to enter in and experience a deeper level of God’s presence. </p>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">4</strong>
                            </span>
                            
                            <p>Preaching relevant and challenging messages from the Word of God that gives people a deeper understanding and motivates them to be doers of the word and not just hearers only. </p>
                            
                        </div>
                    </div>
                                

                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">5</strong>
                            </span>
                            
                            <p>Providing ministry for the whole family. </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">6</strong>
                            </span>
                            
                            <p>Having a hunger for God’s will and a willingness to be led by the Holy Spirit. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">7</strong>
                            </span>
                                                       <p>Having a commitment to unity, prayer, and fellowship with other believers. </p>
                            
                        </div>
                    </div>
                
                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">8</strong>
                            </span>
                            
                            <p>Having a sincere desire to glorify God by serving others in practice ways.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">9</strong>
                            </span>
                            
                            <p>Having a continual pursuit to a fuller and deeper relationship and knowledge of God through Jesus Christ. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="service-item">
                            <span class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">10</strong>
                            </span>
                            
                            <p><h2>Inspiring others to do 1-9.</h2></p>
                            
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
